#container{
width: 1200px;
margin:auto;
}
#navBar{
	position:fixed;
	height:75px;
	width:100%;
	background-color:#FFF;
	margin:-10px 0px 0px -7px;
}
.navButtons{
	font-size:20pt;
}
#navContainer{
	width:900px;
	height:75px;
	float:right;
	margin-top:10px;
}
.button{
	padding:4px;
	border-radius:50px;
}
.button:focus,.button:hover,.button:active{
	background-color:#99b3ff;
}
a { text-decoration: none; color:#000; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none;  }
a:hover, a:active { text-decoration: none; }
#menuItems li {
  display: inline;
  list-style: none;
  color:#000;
  font-size:20pt;
  margin-right:.5em;
  font-weight:bold;
}
#menuItems{
	height:50px;
	overflow:visible !important;
	margin-left:-25px;
}
#name{
	margin-bottom:5x;
	margin-top:75px;
}
#horline{
	border:none;
    height:3px;
	width:70%;
	background-color:#000;
}
	
.description{
	font-size:18pt;	
	font-color:#000;
	text-align:left;
	font-weight:bold;
}
#aboutCont{
	width:700px;
	margin: 0 auto;
	height: 100%;
}
body {
	height:1600px;
	background-image:url("https://cdn.pixabay.com/photo/2014/05/03/00/35/wood-336589_960_720.jpg");
}
#AboutMe,#personal_projects,#contactMe,#mediaContainer{
	-webkit-box-shadow: -1px -1px 5px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px -1px 5px -1px rgba(0,0,0,0.75);
	 box-shadow: -1px -1px 5px -1px rgba(0,0,0,0.75);
}
#AboutMe{

	background-color:#d9d9d9;
	height:400px;
}
#personal_projects{
	height:1200px;
	background-color:#eee;
}
#portfolioTitle{
	margin-top:-15px;
	text-align:center;
	font-weight:bold;
	font-size:30pt;
}
.projects{
	float:left;
	align:center;
	width:400px;
	height:250px;
	margin: 20px 120px 50px 0px;
	text-align:center;
}
#containerProjects{
	width:1100px;
	margin:auto;
	margin-top:-50px;
}
#contactMe{
  height:800px;
  background-color:#eee;
  font-size:25pt;
  text-align:center;
}
#containPara{
	margin-top:-33px;
	margin-bottom:-23px;
	width:1200px;
	height:500px;
}
.mediaLinks{
	display: inline;
	list-style: none;
	width:50px;
	height:50px;
	border-radius:50px;
}
#media{
	margin-right:10px;
	float:right;
}
#credits{
	margin-left:10px;
	float:left;

}
#mediaContainer
{
	width:1200px;
	height:175px;
	background-color:#d9d9d9;
}
.mediaText{
	font-weight: bold;
	font-color: #FFF;
}
.portfoliopics{
	width:400px;
	height:250px;
	padding:90px;
}
#socProfiles{
	float:right;
	margin-right:10px;
	margin-top:-6px;
}
#portfoliohr{
	width:20%; 
	border:none;
	height:3px; 
	background-color:#000;
	margin-top:-20px;
	margin-bottom:20px;
}
#contactInfo{
	width:500px;
	height:600px;
	float:left;
	margin-left:15px;
}
#paragraphInfo{
	width:500px;
	float:right;
	text-align:left;
	margin-top:40px;

}
.formEntry{
	position:relative;
	margin-top:10px;
	margin-bottom:10px;
	border-bottom:1px solid #bbb;
}
.formEntry input, .formEntry textarea{
	z-index: 1;
	position: relative;
	padding-right: 0;
	padding-left: 0;
	border: 0;
	border-radius: 0;
	font-size: 1em;
	background: 0 0;
	resize: none;
	width: 100%;	
}
.formEntry label{
	display: block;
	z-index: 0;
	position: relative;
	top: 2em;
	margin: 0;
	font-size: .85em;
	line-height: 1.764705882em;
	vertical-align: middle;
	vertical-align: baseline;
	opacity: 0;
	-webkit-transition: top .3s ease,opacity .3s ease;
	transition: top .3s ease,opacity .3s ease;	
}
textarea{
	overflow:auto;
}
#submitButton{
	overflow:visible;
	margin-left:15px;
	width:80px;
	height:40px;
	float:left;
	font-size:16pt;
}
